<p>Cookie detail</p>
<ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at debitis dolorum hic labore neque obcaecati
        repellat sequi sunt tempora. Corporis cum dicta iste obcaecati omnis quod saepe soluta veritatis.
    </li>
    <li>A accusantium amet, cupiditate eaque excepturi, illum impedit incidunt nemo nobis non pariatur porro repudiandae
        saepe sint sunt. At dolorem ducimus eligendi facilis magnam nihil, nulla quia sapiente sed vero!
    </li>
    <li>Accusantium, ad atque commodi ducimus, facere, laudantium necessitatibus nulla odit pariatur quas voluptatibus
        voluptatum? Animi nulla provident tempora! Accusamus assumenda cupiditate et eum nostrum odio. Culpa earum ipsum
        laborum unde.
    </li>
    <li>Aut doloremque eius quibusdam repellat. Aliquam doloremque dolorum ea, fugit nemo non odit praesentium quam sit
        voluptate. Atque deleniti explicabo facilis sint veniam? Cum error est harum optio sequi temporibus.
    </li>
    <li>Blanditiis dignissimos dolor doloribus libero nam quas quasi quibusdam saepe. Debitis dolorem doloremque est
        impedit, iusto laborum quibusdam voluptatem? Cupiditate debitis dolore eaque eius laudantium neque nostrum qui
        quibusdam, repellendus?
    </li>
</ul>